<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>Join Club</h1>
    <h1>Welcome Back <%= currentUser.firstname %></h1>
    <form action="" method="POST">
      <label for="secretPassword">Enter Secret Password</label>
      <input
        id="secretPassword"
        name="secretPassword"
        placeholder="shhhhh"
        type="text"
      />
      <button>Log In</button>
    </form>
  </body>
</html>
