<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>hello world!</h1>
    <a href="/m">Sign Up Page </a>
    <% if (locals.user) {%>
    <h1>Welcome Back <%= user.firstname %></h1>
    <a href="/log-out">Log Out</a>
    <% } else { %>
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="email">Email</label>
      <input id="email" name="email" placeholder="email" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button>Log In</button>
    </form>
  </body>
</html>
