body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3b3b3b !important;
  min-height: 100vh;
  color: whitesmoke !important;
}

#log-in {
  background-color: #181818;
  color: antiquewhite;
  border-radius: 10px;
  max-width: 500px;
}

#log-in input {
  margin-left: 2%;
  margin-right: 2%;
  max-width: 300px;
}

#posts {
  background-color: #181818;
  color: antiquewhite;
  border-radius: 10px;
}

#timestamp {
  font-size: small !important;
}

#sign-up {
  background-color: #181818;
  color: antiquewhite;
  border-radius: 10px;
  max-width: 500px;
}

.form-text {
  color: rgb(167, 167, 167) !important;
}

#user {
  min-width: 160px !important;
}

.log-out {
  min-width: 112px !important;
}
