<div class="container mb-1">
  <hr class="solid" />
  <div class="row"><%= message.text %></div>
  <div class="row">
    <div class="col"><%= message.username %></div>
    <div class="col"><%= message.timestamp %></div>
  </div>
</div>
